<!-- 
<button (click)="handleClick()" >Add to cart</button> -->

<!-- <br><br>


<br><br>

<input (input)="handleInput($event)" />

<br><br>

<button value="laptop" (click)="handleClick($event)">Laptop</button>
<button value="tv" (click)="handleClick($event)">Tv</button>
<button value="pc" (click)="handleClick($event)">pc</button>

<br>
<p>{{message}}</p> -->

<input #inputInfo type="text" value="input information" name="inputTest" />

<button (click)="getInputInfo(inputInfo)">Get Info</button>
